@use '../util' as *; 

.cardapio {
  padding-block: rem(60);

  &__titulo {
    text-align: center;
    margin-bottom: rem(60);

    h4 {
      font-size: rem(18);
      text-transform: uppercase;
      letter-spacing: rem(4);
      font-weight: 300;
      margin-bottom: rem(20);
    }

    h1 {
      font-size: rem(36);
      font-family: var(--font-playfair);
    }
  }

  &__info {
    text-align: center;
    margin-bottom: rem(40);

    h5 {
      font-size: rem(16);
      text-transform: uppercase;
      letter-spacing: rem(4);
      font-weight: 300;
      margin-bottom: rem(20);
    }
  }
}